table {
    width: 100%;
  }
  
  
  h1{
    text-align: center;
    margin: 0;
    padding: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri;
    color: #3f51b5;
    font-weight: 500;
    font-style: italic;
  }
  
  .ng-tns-c102-2 {
    max-width: max-content;
    overflow-x: hidden;
    margin: 0 1.5em;
  }
  
  .mat-elevation-z8 {
    margin: 0 1.5rem;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  h1{
    text-align: center;
    margin: 0;
    padding: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri;
    color: #3f51b5;
    font-weight: 500;
    font-style: italic;
  }
  
  table {
    width: 100%;
    /*    width: 90%;
    margin:1rem auto;*/
    border-collapse: collapse;
  }
  
  .mat-elevation-z8{
    width: 100%;
    overflow-x: auto;
    margin:1rem auto;
    max-width: 1250px;
    box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.15);
  }
  
  mat-form-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
  }
  
  th {
  font-weight: bold;
  color: #3f51b5;
  }
  
  
  td {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  font-style: italic;
  font-weight: 400;
  color: #565656;
  }
  
  mat-icon {
  color: #3f51b5;
  }
  
  
  /*
    .mat-column-idPatient {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 28% !important;
      width: 28% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
  }*/