<h1>SIMULAR VENTA</h1>
<div fxLayout="row wrap" fxLayoutWrap="wrap"  >
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" >
      <mat-card> 
        <mat-card-content >

            <!-- Row -->
            <div fxLayout="row wrap" >
                <!-- column -->
                <div  fxFlex.gt-sm="50" fxFlex.gt-xs="100"  fxFlex="100" >
                    <mat-form-field >
                        <mat-select placeholder="Select Customer" [(ngModel)]="idCustomerSelected">
                            <mat-option *ngFor="let customer of (customers$ | async)" [value]="customer.id">
                                {{customer.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
  
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100"  fxFlex="100">
                    <mat-form-field>
                        <mat-select placeholder="Select Store" [(ngModel)]="idStoreSelected">
                            <mat-option *ngFor="let store of (stores$ | async)" [value]="store.id">
                                {{store.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100"  fxFlex="100">
                    <mat-form-field>
                        <mat-select placeholder="Select Product" [(ngModel)]="product"   >
                            <mat-option *ngFor="let product of (products$ | async)" [value]="product">
                                {{product.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100"  fxFlex="100">
                    <mat-form-field appearance="standard" floatLabel="always" >
                        <mat-label>Cantidad</mat-label>
                        <input type="number" matInput placeholder="0" [(ngModel)]="quantity" class="example-right-align">
                      </mat-form-field>
                    <!--<input matInput placeholder="quantity" [(ngModel)]="quantity" max="15" maxlength="15" type="number">-->
                </div>

                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100"  fxFlex="100">
                    <mat-form-field appearance="standard" floatLabel="always" >
                        <mat-label>Precio</mat-label>
                        <input type="number" matInput placeholder="0" [(ngModel)]="price" class="example-right-align">
                        <span matPrefix>S/&nbsp;</span>
                        <span matSuffix>.00</span>
                      </mat-form-field>
                    <!--<input matInput placeholder="price" [(ngModel)]="price" max="15" maxlength="15" type="number">-->
                </div>

                <button mat-raised-button color="primary"  (click)="addProduct()">
                    <mat-icon style="color:aliceblue">add</mat-icon>
                    <span> AGREGAR</span>
                </button>

                <!--<mat-expansion-panel *ngFor="let p of details; let i=index" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                           {{i + 1}}  {{p.product.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Ver Detalle
                        </mat-panel-description>
                    </mat-expansion-panel-header>
            
                    <mat-form-field>
                        <input matInput placeholder="Cantidad" value="{{p.quantity}}">
                    </mat-form-field>
            
                    <button mat-raised-button color="warn" (click)="remove(i)">Remove</button>
                </mat-expansion-panel>-->

                <mat-list *ngFor="let p of details; let i=index" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-list-item role="listitem">  {{i + 1}}  {{p.product.name}}</mat-list-item>
                    <button mat-raised-button color="warn" (click)="remove(i)">Remove</button>
                  </mat-list>
                
            </div>

            <button mat-raised-button color="primary"  (click)="operate()">
                <mat-icon style="color:aliceblue">done</mat-icon>
                <span> REGISTRAR</span>
            </button>
        </mat-card-content>
    </mat-card>
</div>
</div>