
<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<h1>SIMULAR CONSUMO API</h1>
<div fxLayout="row wrap" fxLayoutWrap="wrap"  >
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" >
      <mat-card> 
        <mat-card-content >

            <!-- Row -->
            <div fxLayout="row wrap" >
                <!-- column -->
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100"  fxFlex="100">
                    <mat-form-field appearance="standard" floatLabel="always" >
                        <mat-label>ID Tienda</mat-label>
                        <mat-select disableRipple [(ngModel)]="idTienda">
                          <mat-option value="1">Tienda 1</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!--<input matInput placeholder="quantity" [(ngModel)]="quantity" max="15" maxlength="15" type="number">-->
                </div>

                <!-- column -->
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100"  fxFlex="100">
                    <mat-form-field appearance="standard">
                        <mat-label>ID Productos</mat-label>
                        <mat-select multiple [(ngModel)]="idProducts">
                          <mat-option *ngFor="let topping of products" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <!--<mat-expansion-panel *ngFor="let p of details; let i=index" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                           {{i + 1}}  {{p.product.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Ver Detalle
                        </mat-panel-description>
                    </mat-expansion-panel-header>
            
                    <mat-form-field>
                        <input matInput placeholder="Cantidad" value="{{p.quantity}}">
                    </mat-form-field>
            
                    <button mat-raised-button color="warn" (click)="remove(i)">Remove</button>
                </mat-expansion-panel>-->
                
            </div>

            <button mat-raised-button color="primary"  (click)="operate()" [disabled]="!idTienda || !idProducts">
                <mat-icon style="color:aliceblue">done</mat-icon>
                <span>Simular</span>
            </button>
        </mat-card-content>
    </mat-card>
</div>
</div>